body {
    margin: 0;
}

body * {
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, serif, "Gill Sans";
    font-size: 14px;
    outline: none;
}

/* 
    ShieldBar 
*/
body .shield-container {
    position: absolute;
}

body .shield {
    /* background-color: #F9BF55; */
    background-color: #434343;
    opacity: 0.99;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    resize: both;
    overflow: auto;
}

nav {
    min-width: 800px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #434343;
    box-shadow: 0px 1px 5px #434343;
}

.nav-left h1 {
    float: left;
    font-size: 20px;
    font-family: cursive;
}

.nav-left svg {
    height: 45px;
    font-size: 2em;
    float: left;
    margin: 0 10px 0 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
    font-size: 16px;
}

li a:hover {
    background-color: #595959;
}

#title {
    margin: 18px;
    color: #444;
    font-size: 18px;
}

.container {
    height: 440px;
    min-width: 800px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 15px;
}
.container .video-wrapper {
    margin: 0 15px 0 0;
}

.hidden {
    display: none;
}

/* 
video 
*/
.video-wrapper {
    width: 60%;
    height: 100%;
}

.video-wrapper video {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
}

/* 
.transcripts 
*/
.transcripts {
    width: 40%;
    height: 100%;
}

.scroll {
    overflow: auto;
}

.transcripts > div {
    padding: 15px 0;
    margin: 0 15px;
    border-bottom: 1px #eee solid;
}

.transcripts .major-subtitle {
    font-size: 18px;
}

.transcripts .minor-subtitle {
    color: #999;
}

.transcripts .active > * {
    font-weight: bold;
    color: #40a9ff;
}

.file-choser {
    display: block;
    width: 100%;
    height: 100%;
    border: 3px #ddd dashed;
    border-radius: 5px;
}

.file-choser:hover {
    border: 3px #69c0ff dashed;
}

.file-choser-desc {
    text-align: center;
    color: #ddd;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.file-choser-desc * {
    font-size: 22px;
    margin: 5px 0;
}

/* 
control 
*/
.control {
    margin: 20px;
    min-width: 600px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.control > * {
    margin: 8px;
    width: 150px;
    height: 34px;
    text-align:center;
    vertical-align:middle;
}

.control .changeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.control .changeDiv input {
    height: 34px;
    width: 90px;
    font-size: 1.2em;
    padding: 0 20px;
    border-radius: 34px;
    border: 2px #69c0ff solid;
}

.control .changeDiv input:hover {
    border-color: #40a9ff;
}

.control button {
    color: #69c0ff;
    background-color: #fff;
    border: 2px #69c0ff solid;
    border-radius: 34px;
}

.control button:hover {
    border-color: #69c0ff;
    background-color: #69c0ff;
    color: #fff;
}

#file {
    display: none;
}

/*
    iconfont 使用，重要
*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}